In [1]:
import pandas as pd
import numpy as np

1. zadatak


What is the average of column num2?

In [2]:

table1 = pd.DataFrame( [
["2014-01-15","176","631.427747","boy","yellow"],
["2014-01-25","330","525.189511","girl","yellow"],
["2014-03-05","260","802.829888","boy","blue"],
["2014-03-27","192","743.697401","girl","red"],
["2014-05-19","254","974.793224","girl","blue"],
["2014-05-27","943","186.433405","girl","yellow"],
["2014-06-19","589","346.259034","boy","green"],
["2014-07-04","690","527.358344","boy","red"],
["2014-08-03","792","73.843848","boy","red"],
["2014-08-06","760","286.984863","girl","red"],
["2014-08-08","71","20.700987","boy","green"],
["2014-09-02","312","845.254480","boy","purple"],
["2014-09-06","279","833.293450","boy","green"],
["2014-09-11","852","473.570358","boy","red"],
["2014-09-21","285","915.997882","girl","red"],
["2014-10-20","330","679.031792","boy","purple"],
["2014-11-06","56","155.091492","boy","red"],
["2014-11-19","518","58.936581","boy","red"],
["2014-12-19","610","899.197993","boy","red"],
["2014-12-19","462","387.648537","girl","blue"],
["2014-12-25","654","346.042252","girl","yellow"],
["2015-02-04","151","421.636419","girl","red"],
["2015-03-15","413","606.343760","girl","yellow"],
["2015-03-25","226","405.178703","boy","green"],
["2015-05-27","954","4.158206","boy","yellow"],
["2015-07-22","493","164.797598","boy","red"],
["2015-08-05","687","277.021994","girl","red"],
["2015-08-12","619","658.618907","boy","blue"],
["2015-08-16","951","724.661845","girl","red"],
["2015-09-21","345","707.051491","girl","red"],
["2015-09-21","250","571.183941","girl","yellow"],
["2015-09-28","940","113.609364","girl","yellow"],
["2015-10-11","918","359.947587","boy","blue"],
["2015-10-29","722","812.100866","boy","purple"],
["2015-10-30","31","566.706857","girl","purple"],
["2015-10-30","638","919.542215","boy","yellow"],
["2015-11-20","456","405.277955","girl","yellow"],
["2015-11-21","965","127.128332","girl","blue"],
["2016-01-04","894","862.674515","girl","red"],
["2016-01-14","133","673.018684","boy","red"],
["2016-03-17","471","533.197723","girl","red"],
["2016-06-07","625","665.043979","boy","red"],
["2016-06-26","545","799.731411","girl","blue"],
["2016-06-29","639","54.200219","girl","green"],
["2016-07-09","6","63.016883","girl","purple"],
["2016-08-16","93","567.060474","girl","yellow"],
["2016-08-26","16","319.226372","girl","purple"],
["2016-09-05","315","116.141924","girl","red"],
["2016-09-20","105","476.725011","girl","red"],
["2016-09-26","305","892.255753","boy","green"]],
   columns = ["date","num","num2","str","str2"])
table1 = table1.astype({"num": int, "num2": float});
table1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
date    50 non-null object
num     50 non-null int64
num2    50 non-null float64
str     50 non-null object
str2    50 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.1+ KB

Rješenje:

In [3]:
table1["num2"].mean()

491.61684114

2. zad

Group by str and find the sum of column num where the index is boy.

In [4]:
table2 = pd.DataFrame( [
["2014-01-02","156","257.270148","boy","purple"],
["2014-01-09","51","651.088142","boy","purple"],
["2014-01-11","705","661.419909","girl","blue"],
["2014-01-22","283","145.224245","girl","red"],
["2014-01-29","628","955.055021","boy","red"],
["2014-02-07","893","385.487840","boy","red"],
["2014-02-08","519","454.246559","boy","blue"],
["2014-02-15","699","567.411521","girl","red"],
["2014-02-16","544","69.510659","girl","red"],
["2014-02-23","837","614.137944","boy","yellow"],
["2014-02-25","114","971.463827","girl","red"],
["2014-03-17","248","351.236187","girl","yellow"],
["2014-05-19","595","250.883351","boy","purple"],
["2014-05-24","304","628.313785","boy","blue"],
["2014-06-12","549","300.655305","girl","green"],
["2014-06-21","693","860.003236","girl","blue"],
["2014-06-22","591","706.596681","girl","blue"],
["2014-07-17","152","388.926529","boy","yellow"],
["2014-12-01","720","144.368346","girl","blue"],
["2014-12-08","254","904.205069","girl","purple"],
["2014-12-11","510","854.532808","girl","red"],
["2014-12-24","41","127.420934","girl","red"],
["2015-01-25","435","901.871441","boy","blue"],
["2015-01-29","788","436.264437","boy","yellow"],
["2015-02-24","727","680.644120","boy","yellow"],
["2015-03-22","984","735.606116","boy","green"],
["2015-03-27","101","357.436644","boy","purple"],
["2015-04-10","581","103.115830","boy","red"],
["2015-05-03","190","529.084223","girl","red"],
["2015-05-09","243","550.411944","girl","green"],
["2015-05-11","545","291.167828","boy","blue"],
["2015-06-11","354","136.822422","boy","yellow"],
["2015-06-27","247","227.100352","boy","purple"],
["2015-07-15","911","471.302869","girl","yellow"],
["2015-09-02","832","331.651972","girl","red"],
["2015-09-21","438","360.995833","boy","purple"],
["2015-09-26","501","925.499555","boy","red"],
["2016-03-09","905","337.937672","boy","blue"],
["2016-04-08","30","277.704542","girl","blue"],
["2016-04-22","568","24.319846","girl","blue"],
["2016-05-15","41","248.750247","girl","blue"],
["2016-06-18","310","367.259767","girl","red"],
["2016-07-27","996","334.496742","boy","red"],
["2016-07-28","702","221.129724","girl","yellow"],
["2016-08-04","591","927.334595","girl","red"],
["2016-08-13","899","158.756128","girl","purple"],
["2016-08-26","751","330.998817","boy","blue"],
["2016-09-12","596","491.500665","boy","blue"],
["2016-09-14","735","192.981652","boy","blue"],
["2016-09-17","689","126.590687","girl","green"]],
   columns = ["date","num","num2","str","str2"])
table2 = table2.astype({"num": int, "num2": float, "date": "datetime64[ns]"});
table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
date    50 non-null datetime64[ns]
num     50 non-null int64
num2    50 non-null float64
str     50 non-null object
str2    50 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.1+ KB

Rješenje:

In [5]:
(table2.groupby(['str']).sum()).loc[('boy'), 'num']

13819

3.zad

What is the maximum of column num?

In [6]:
table3 = pd.DataFrame( [
["2014-02-10","759","763.552934","boy","purple"],
["2014-02-15","343","4.123771","girl","green"],
["2014-02-22","377","536.027450","boy","purple"],
["2014-02-26","691","324.919558","boy","blue"],
["2014-03-05","555","238.915837","boy","green"],
["2014-03-13","772","137.130585","boy","blue"],
["2014-04-12","944","468.556861","girl","yellow"],
["2014-05-23","936","155.808774","girl","yellow"],
["2014-06-08","134","469.972973","girl","green"],
["2014-06-13","522","975.012911","boy","yellow"],
["2014-07-02","109","934.940663","boy","green"],
["2014-07-19","437","109.337218","girl","purple"],
["2014-07-24","884","956.775023","boy","green"],
["2014-08-14","570","234.208613","girl","purple"],
["2014-08-17","764","137.343699","girl","green"],
["2014-08-18","747","969.888212","boy","purple"],
["2014-08-29","599","175.567641","girl","yellow"],
["2014-09-03","950","755.683508","girl","red"],
["2014-09-26","306","127.388774","girl","blue"],
["2014-10-18","610","692.549741","girl","red"],
["2014-11-08","900","556.030378","boy","blue"],
["2014-11-16","572","10.458234","girl","green"],
["2014-12-06","151","145.049803","boy","yellow"],
["2014-12-25","406","522.781069","boy","red"],
["2015-03-11","427","859.604262","girl","green"],
["2015-05-10","278","588.138928","boy","purple"],
["2015-06-29","327","702.897483","boy","red"],
["2015-07-16","494","177.832858","boy","yellow"],
["2015-08-10","757","952.499501","boy","yellow"],
["2015-09-05","544","529.955355","girl","green"],
["2015-10-15","344","182.652586","girl","green"],
["2015-12-21","988","719.745461","boy","blue"],
["2016-01-01","618","750.249374","boy","blue"],
["2016-01-08","241","274.998356","girl","purple"],
["2016-01-13","821","38.020798","boy","purple"],
["2016-01-19","844","698.561406","boy","yellow"],
["2016-02-08","215","706.068770","girl","red"],
["2016-02-08","84","437.561082","boy","yellow"],
["2016-02-14","728","936.851422","girl","blue"],
["2016-02-18","845","646.020394","girl","red"],
["2016-03-18","812","948.611641","boy","yellow"],
["2016-05-19","543","447.204625","girl","yellow"],
["2016-06-02","572","905.935289","girl","yellow"],
["2016-07-14","365","324.562518","girl","green"],
["2016-07-18","995","923.145029","girl","yellow"],
["2016-07-19","393","536.600830","boy","yellow"],
["2016-07-24","296","104.565492","boy","green"],
["2016-08-24","392","998.265307","girl","purple"],
["2016-08-24","667","201.697161","boy","red"],
["2016-09-21","412","422.858362","girl","yellow"]],
   columns = ["date","num","num2","str","str2"])
table3 = table3.astype({"num": int, "num2": float, "date": "datetime64[ns]"});
table3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
date    50 non-null datetime64[ns]
num     50 non-null int64
num2    50 non-null float64
str     50 non-null object
str2    50 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.1+ KB

Rješenje:

In [7]:
table3["num"].max()

995

4. zad

Find the row with the smallest date. Subtract num - num2.

In [8]:
table4 = pd.DataFrame( [
["2014-01-02","244","912.251233","girl","green"],
["2014-02-07","532","790.084185","boy","blue"],
["2014-02-09","797","90.018244","girl","green"],
["2014-02-16","240","315.359424","girl","green"],
["2014-05-07","836","395.734914","girl","yellow"],
["2014-05-12","43","110.158453","boy","yellow"],
["2014-07-07","901","408.892078","boy","blue"],
["2014-07-10","841","744.950595","boy","blue"],
["2014-08-08","108","50.400549","boy","purple"],
["2014-09-11","556","37.959947","boy","green"],
["2014-09-19","120","535.544917","girl","yellow"],
["2014-11-04","538","737.370673","girl","green"],
["2014-12-28","403","58.355102","girl","blue"],
["2015-01-24","136","540.628114","boy","red"],
["2015-02-14","977","17.683382","boy","yellow"],
["2015-03-03","933","246.702487","boy","purple"],
["2015-03-12","365","88.232738","girl","red"],
["2015-03-28","708","950.644376","girl","green"],
["2015-04-06","128","795.712052","girl","blue"],
["2015-05-10","556","880.511027","girl","green"],
["2015-07-03","138","254.613818","girl","blue"],
["2015-07-10","375","283.540464","boy","yellow"],
["2015-07-14","744","8.693338","girl","green"],
["2015-08-12","711","337.851103","boy","yellow"],
["2015-09-04","993","925.432464","girl","yellow"],
["2015-10-24","834","205.050435","boy","blue"],
["2015-10-28","999","699.192598","boy","yellow"],
["2015-10-31","341","225.391943","girl","red"],
["2015-11-03","368","569.363931","girl","red"],
["2015-11-08","706","725.471865","boy","green"],
["2015-11-20","569","281.700099","girl","purple"],
["2015-11-28","584","652.257817","boy","red"],
["2016-01-10","585","283.202349","boy","yellow"],
["2016-01-14","488","646.697393","boy","red"],
["2016-02-03","824","370.011250","boy","yellow"],
["2016-02-29","177","68.256449","boy","blue"],
["2016-03-13","671","403.699494","girl","purple"],
["2016-04-18","177","126.201330","girl","yellow"],
["2016-04-24","246","818.061237","girl","blue"],
["2016-05-11","250","906.477612","boy","green"],
["2016-05-20","834","466.728539","girl","purple"],
["2016-06-09","99","469.393342","boy","purple"],
["2016-06-24","610","494.235183","boy","purple"],
["2016-07-14","850","521.873369","girl","green"],
["2016-07-24","35","944.007376","girl","green"],
["2016-07-31","2","575.951739","boy","green"],
["2016-08-03","970","907.254412","boy","purple"],
["2016-08-31","352","833.442216","boy","blue"],
["2016-09-02","142","65.361042","girl","yellow"],
["2016-09-04","979","702.361575","girl","red"]],
   columns = ["date","num","num2","str","str2"])
table4 = table4.astype({"num": int, "num2": float, "date": "datetime64[ns]"});
table4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
date    50 non-null datetime64[ns]
num     50 non-null int64
num2    50 non-null float64
str     50 non-null object
str2    50 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.1+ KB

Rješenje:

In [9]:
(table4.groupby(['date']).min()).iloc[0]['num'] - (table4.groupby(['date']).min()).iloc[0]['num2']

-668.251233

5. zad

Find the least popular string in column str2. Filter by str2 where the string equals the least popular string. Find the sum of column num.

In [10]:
table5 = pd.DataFrame( [
["2014-02-25","234","783.496826","boy","green"],
["2014-03-26","98","662.915885","boy","purple"],
["2014-05-24","318","164.363035","girl","red"],
["2014-05-26","544","138.857565","boy","blue"],
["2014-06-12","605","555.001485","girl","red"],
["2014-06-16","428","787.775148","girl","red"],
["2014-06-27","893","201.868355","boy","green"],
["2014-07-06","950","481.804818","girl","green"],
["2014-08-14","665","417.995935","boy","blue"],
["2014-08-23","479","184.600887","boy","blue"],
["2014-09-11","277","362.930401","boy","purple"],
["2014-10-31","196","251.150610","boy","green"],
["2014-11-12","385","359.069077","girl","purple"],
["2014-11-19","387","492.869307","boy","red"],
["2014-11-23","118","32.461591","girl","yellow"],
["2014-12-01","362","524.546698","girl","purple"],
["2015-04-06","572","334.004630","boy","yellow"],
["2015-05-03","76","807.457329","girl","green"],
["2015-06-13","26","15.178183","boy","yellow"],
["2015-07-19","616","879.672473","boy","yellow"],
["2015-07-29","848","379.381268","boy","blue"],
["2015-08-11","765","967.489980","boy","blue"],
["2015-08-26","597","113.405319","boy","blue"],
["2015-09-04","370","269.986345","girl","green"],
["2015-09-26","447","243.378870","girl","red"],
["2015-10-02","719","528.109613","boy","purple"],
["2015-10-16","57","480.162280","boy","green"],
["2015-10-31","747","787.803539","girl","yellow"],
["2015-11-03","747","929.375056","girl","blue"],
["2015-11-15","121","698.449566","boy","purple"],
["2015-12-11","279","866.352368","girl","yellow"],
["2015-12-17","502","860.353462","girl","yellow"],
["2015-12-28","220","491.879455","boy","purple"],
["2016-01-02","69","736.568812","girl","red"],
["2016-01-24","637","2.447889","girl","red"],
["2016-01-28","47","909.283748","girl","yellow"],
["2016-02-01","808","883.094583","girl","red"],
["2016-02-19","570","568.405111","girl","blue"],
["2016-02-27","186","973.463307","girl","purple"],
["2016-03-22","94","173.602189","boy","blue"],
["2016-04-17","466","413.628022","girl","green"],
["2016-05-03","686","599.753603","boy","blue"],
["2016-05-26","682","562.777825","girl","blue"],
["2016-06-10","719","737.936609","girl","purple"],
["2016-06-28","205","231.880239","boy","green"],
["2016-08-10","590","695.636194","girl","green"],
["2016-09-06","868","611.920182","boy","yellow"],
["2016-09-09","325","158.897113","girl","green"],
["2016-09-13","776","628.231284","boy","purple"],
["2016-09-14","403","12.507883","boy","yellow"]],
   columns = ["date","num","num2","str","str2"])
table5 = table5.astype({"num": int, "num2": float, "date": "datetime64[ns]"});
table5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
date    50 non-null datetime64[ns]
num     50 non-null int64
num2    50 non-null float64
str     50 non-null object
str2    50 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.1+ KB

Rješenje-v1:

In [11]:
(table5.groupby(['str2']).sum()).get_value(((table5.groupby(['str2']).count()).sort_values(by=['date'])).index[0]
,'num')

/home/user/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

3699

Rješenje-v2:

In [12]:
(table5.groupby(['str2']).sum()).at[((table5.groupby(['str2']).count()).sort_values(by=['date'])).index[0]
,'num']

3699